body {
    color: #eee;
    background-color: #111 !important;
}

a {
    color: #5aaff3;
}

a:hover {
    color: #c4e2fb;
}

#ribbon {
    background-color: #001c2c;
}

#tn_switcher {
    background-color: #859DBA;
}

#topnav-in {
    background: #90a4c0;
}

#contents_right .breadcrumb {
    background-color: #0A253C;
}

#quickadd_bar {
    border-bottom: 1px solid #0a1b2c;
    background-color: #001c2c;
    border-top: 1px solid #0a1b2c;
}

#QA_autocomplete li.tip, #QA_autocomplete li.tip.selected {
    background-color: #333;
    color: #bbb;
}

#quickAdd b, #QA_autocomplete li.tip b {
    color: #67ACE6;
    background-color: #273447;
    text-shadow: 1px 1px #25303F;
}

#quickAdd {
    background-color: #222;
    border: 2px solid #444;
}

#ColHeader {
    border-bottom: 1px solid #0a233b;
    background-color: #091a2c;
}

#ColHeader .ch_col {
    background-color: #0d2d4a;
}

div #sidebar {
    background-color: #1A1B1D;
}

#sidebar .tab a, #sidebar .tabon a {
    color: #ddd;
}

#sidebar .tab a:hover, #sidebar .tabon a:hover {
    color: #eee;
}

#sidebar .tabon a, #sidebar .sb-card.short.tabon a, #sidebar .sb-card.shortest.tabon a {
    color: #ddd;
}

#sidebar .tabon a:hover, #sidebar .sb-card.short.tabon a:hover, #sidebar .sb-card.shortest.tabon a:hover {
    color: #eee;
}

#sidebar .sb-card.shortest.tabon .badge {
    color: #ddd;
}

.meta-data {
/*     number at not selected tab in sidebar */
    color: #bbb;
}

#sidebar .sb-card, #sidebar .sb-firstcard {
    background-color: #333;
    border-bottom: 1px solid #4A4B4D;
}

#sidebar .tabon, #sidebar .tabon:hover {
    background-color: #444;
}

#sidebar .sb-card:hover {
    background-color: #555;
}

#sidebar .sb_card_header {
    color: #eee;
    background-color: #666;
}

#sidebar .sb-firstcard .inset {
    background-color: #333;
}

#sidebar .sb-firstcard .inset b {
    color: #ccc;
}

#sidebar .sb-firstcard .inset p {
    color: #a7a598;
}

.taskRow.Grid .taskNote {
    color: #bbb;
    background-color: #333;
    border: 1px solid #666;
}

.taskRow.Grid .editNote, .taskRow.Multi .editNote {
    color: #fff;
    background-color: #222;
    border: 1px solid #444;
}

.taskEmptyRow, .warning_box {
    background-color: #444;
    border: 1px solid #555
}

.completed .taskCell, .taskRow.Mobile.completed .taskTitle {
    color: #777;
}

.taskRow.Grid .taskCell.noval {
    color: #888;
}

.taskRowDivider.newTasks + span .taskRow.Grid,
.taskRowDivider.newTasks + span .taskRow.Multi {
    background-color: rgba(255,255,56,.15);
}

input.cellText {
    color: #fff;
    background-color: #222;
}

.dd_list {
/*     popup date selector */
    background-color: #333;
}

.dd_group, .dd_list {
    box-shadow: 0 1px 7px 2px rgba(0,0,0,.5);
}

.pop_date .list_section {
    color: #eee;
}

.radio-picker input.radio:checked ~ label.radio {
    background-color: #15588d;
    color: #fff;
}

.radio-picker input.radio:empty ~ label {
    color: #ccc;
}

.radio-picker label.radio {
    background-color: #555;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
}

.radio-picker label.radio:hover {
  background-color: #666;
}

.radio-picker div.radio:first-of-type label.radio {
    border-left: 2px solid #444;
}

.radio-picker div.radio label.radio {
    border-right: 2px solid #444;
}

.pop_date .minico.ddate, .pop_date .minico.dtim {
    color: #ddd;
}

#protocal {
/*     calendar selector */
    background-color: #444;
    border: 1px solid #888;
}

#protocal_next, #protocal_prev {
    background-color: #888;
    color: #fffcfc;
    font-weight: bold;
}

#protocal_next:hover,
#protocal_prev:hover {
  background-color: #999;
}

#protocal_table th {
    color: #aaa;
}

#protocal_table td {
    color: #ddd;
}

#protocal_table td.end {
    background-color: #333;
}

#protocal_table td.today {
    background-color: #496080;
}

#protocal_table td.sel {
    background-color: #7B7B2F;
}

.date_shortcuts a {
    color: #c4e2fb;
}

.taskRow .pop_act .act_metadata {
    color: #ccc
}

.actn_item:hover {
    background-color: #444;
}

a.list_item {
    color: #ddd
}

.list_item {
    color: #ccc;
    background-color: #333;
	border-bottom: 1px solid #777;
}

.list_item.active {
    background-color: #444;
}

a.list_item:hover {
    color: #ddd
}

.list_item:hover {
    background-color: #444;
}

.list_item.highlight {
 	color: #ddd;
}

.list_item.highlight.active {
    background-color: #444;
}

.list_item_divider {
	background-color: #0f0;
	color: #f00;
}

.list_empty {
 	color: #aaa;
}

h5 {
	color: #aaa;
}

.dd_list h5 {
	border-bottom: 1px solid #777;
}

.btn_input {
	background-color: #222;
	color: #eee;
}

input[type="text"].btn_input {
	border: 1px solid #aaa;
	background-color: #222;
}

.pop_tag .tag_style {
	background-color: #444;
	color: #ddd;
}

.pop_tag .tag_style:hover,
.pop_tag .tag_style.highlight {
	background-color: #555;
}

.pop_rep .list_item {
	border-top: 1px solid #777;
}

.taskRow.Grid,
.taskRow.Multi {
    background-color: #222;
    border-bottom: 1px solid #555;
}

.taskRow.Grid.subtask,
.taskRow.Multi.subtask,
.taskRow.Mobile.isSubtask {
    background-color: #333;
    border-bottom: 1px solid #666;
}

/* .taskRow.Multi.subtask,
.taskRow.Mobile.isSubtask {
    background-color: #333;
    border-bottom: 1px solid #666;
} */

.subtask .cellSubtasks {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

.taskRow.Grid:hover,
.taskRow.Multi:hover {
    background-color: #333;
}

.taskRow.Grid.subtask:hover {
    background-color: #444;
}

.taskRow.Multi .multiDetails {
    background-color: #333;
    border-top: 1px solid #ccc;
}

.taskRow.Multi .multiDetails .taskNote.noval {
    color: #aaa;
}

.taskRow.Multi .multiDetails .taskNote {
    background-color: #444;
    border: 1px solid #666;
}

.taskRowDivider a {
    color: #ddd;
}

.taskRowDivider .minico {
    color: #ddd;
}

.taskRow.Grid:hover .minico.ico_dim:hover::before, .taskRow.Grid:hover a.ico_dim .minico:hover::before, .taskRow.Multi .multiToolbar .ico_dim:hover .minico::before {
    color: #888;
}

.minico.ico_active::before {
    color: #2A537B;
}

.taskRowDivider {
    color: #bbb;
    background-color: #555;
    border-bottom: 1px solid #555;
}

.taskRowDivider:hover {
    background-color: #666;
}

.taskRowDivider.closed {
    background-color: #444;
}

.task_check-sm .box-bg, .task_check-md .box-bg, .task_check-lg .box-bg {
    color: #333;
}

.cellCheckSmall.repeat .task_check-sm .rep {
    color: #C3C3B1;
}

.date1 .tc_duedate .cellInner {
    color: #faa;
}

.date2 .tc_duedate .cellInner {
    color: #f88;
}

.date3 .tc_duedate .cellInner {
    color: #f33;
}

#TasksContainer {
    background-color: #333;
}

#contents_right #internal-footer .copyrighted {
    color: #aaa;
}

#tray {
/*     new task on side */
    background-color: #444;
    box-shadow: -4px 0px 7px 0px rgba(0, 0, 0, .5);
}

#tray .tray_scrollable .newTitle {
    color: #eee;
}

.taskRow.Multi .multiDetails .taskCell, #tray .taskCell {
    background-color: #555;
    border: 1px solid #666;
}

.taskCell.noval {
    color: #999;
}

#tray .taskCell.highlight {
    background-color: #666;
    border: 1px solid #777;
}

#tray .editNote {
    color: #eee;
    background-color: #333;
}

.remove {
    color: #ccc;
}

.remove:hover {
    color: #ddd;
}

.actn_list {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
    border: 1px solid #444;
    background-color: #333;
}

#contents_right .breadcrumb #actn_menu a.inactive {
	color: #888;
}

.savedSearch .title {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.savedSearch .title input {
	color: #eee;
}

.savedSearch .anyall {
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    background-color: #333;
    border-bottom: 1px solid #444;
    color: #ccc;
}

.savedSearch .row {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.savedSearch .row > input {
    color: #eee;
    background-color: #222;
    border: 1px solid #666;
}

select {
    color: #eee;
    background-color: #222;
}

.savedSearch .row .add:hover {
    color: #fff;
}

.savedSearch .addRow {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.Cal__MonthList__root {
    background-color: #333;
}

.Cal__Month__row:first-child li {
    background-color: #333;
    border-bottom: none;
}

.Cal__Container__root {
    color: #ccc !important;
}

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted::before, .Cal__Day__root.Cal__Day__enabled:active::before, .Cal__Day__root.Cal__Day__enabled:hover::before {
    background-color: #555;
}

.Cal__Day__root.Cal__Day__today > span {
    color: #ddd;
}